<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img alt="Silhouette of mountains" src="{{lsthackathons.image}}" />
    <ion-card-header>
      <ion-card-title>{{lsthackathons.theme}}</ion-card-title>
      <ion-card-subtitle>{{lsthackathons.dateDebut}} </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{lsthackathons.description}}
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item id="RedirectFormInit" *ngFor="let item of lstevents" >
          <ion-label>
            <h1>{{item.libelleEvenement}}</h1>
            <p style="font-size: 16px">Date : {{item.date}}</p>
            <ion-buttons>
              <ion-button *ngIf="isPlacedispo(item.nbParticipant,item.place_max)" (click)="InscInit(item)">S'inscrire</ion-button>
              <ion-button (click)="voirinitiation(item)">Plus d'information</ion-button>
            </ion-buttons>
          </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
